@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

// styles , colors , fonts ...
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$greys: ("light-grey": hsl(217, 12%, 63%), "medium-grey": hsl(213, 19%, 54%));
$dark-blues: ("dark-blue": hsl(213, 19%, 18%), "very-dark-blue": hsl(216, 12%, 8%), "light-dark-blue": hsl(216, 13%, 23%));

$par-font-size: 15px;
$font: "Overpass", serif; 
$font-sizes: ("regular": 400, "bold": 700);

body {
    background-color: map-get($dark-blues, "very-dark-blue");
    font-family: $font;
}

.container {
    width: 450px;
    height: 450px;
    border-radius: 30px;
    background-color: map-get($dark-blues, "dark-blue");
    margin: 250px auto 0;;
}

#content {
    margin-left: 40px;
    transform: translateY(40px);
    max-width: 370px;
}

.img-cont {
    height: 50px;
    width: 50px;
    border-radius: 45px;
    background-color: map-get($dark-blues, "light-dark-blue");
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-star {
    width: 30%;
    height: 30%;
}

#title {
    color: $white;
    font-weight: map-get($font-sizes, "regular");
    font-size: 30px;
    margin-top: 50px;
}

#description {
    color: map-get($greys, "light-grey");
    font-weight: map-get($font-sizes, "regular");
    letter-spacing: 1.2px;
}

.rate-choice {
    text-align: center;
    margin: 50px 0 0 20px;
    padding: 0;
    max-width: 410px;

    li {
        display: inline-block;
        padding: 10px;
    }
}

.button {
    width: 55px;
    height: 55px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: map-get($dark-blues, "light-dark-blue");
    color: map-get($greys, "light-grey");
    font-weight: map-get($font-sizes, "bold");
    font-size: 16px;
    transition: 0.2s;
}

@mixin hover {
    background-color: $white;
    color: $orange;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    @include hover();
}

.button:focus {
    background-color: map-get($greys, "light-grey");
    color: $white;
}

.submit-button {
    background-color: $orange;
    width: 330px;
    margin: 25px 0 0 60px;   
    color: $white;
    height: 50px;
    text-transform: uppercase;
    font-size: map-get($font-sizes, "regular");
    letter-spacing: 2.5px;
    transition: 0.2s;
    border: none;
    border-radius: 30px;
}

.submit-button:hover {
    @include hover();
}

#thanks-img {
    transform: translateY(60px);
    display: block;
    margin: auto;
    margin-top: 60px;
}

#selected-num {
    display: block;
    text-align: center;
    padding-top: 10px;
    margin: 90px auto 0 auto;
    color: $orange;
    background-color: map-get($dark-blues, "light-dark-blue");
    width: 200px;
    border-radius: 30px;
    height: 25px;
}

#tp-title {
    color: $white;
    text-align: center;
    font-size: 30px;
    font-weight: map-get($font-sizes, "regular");
}

#tp-description {
    color: $white;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: map-get($greys, "light-grey");
    letter-spacing: 1.2px;
    text-align: center;
}

@media only screen and (max-width: 412px) {
    body {
        scale: 70%;
        display: flex;
        justify-content: center;
    }
}