@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

// styles

$login-form-background: hsl(28, 100%, 97%);
$sign-up-preview-bg: hsl(178, 71%, 13%);
$input-color: hsl(28, 100%, 97%);

$font: "Reem Kufi", serif;

.card-l-successful {
    font-family: $font;
    font-weight: 600;
    overflow: hidden;

    width: 500px;
    height: 700px;
    border-radius: 25px;

    background-color: $login-form-background;
    color: #000;

    text-align: center;

    h1 {
        margin-top: 100px;
        font-size: 42px;
    }

    div:nth-child(3) {
        overflow: hidden;
        
        width: 630px;
        height: 400px;
        margin: 150px 0 0 -90px;

        transform: rotate(10deg);

        background-color: rgba(10, 58, 56, 0.2);
    }

    div:nth-child(4) {
        overflow: hidden;

        width: 700px;
        height: 500px;
        margin: -400px 0 0 -40px;

        transform: rotate(-20deg);

        background-color: rgba(10, 58, 56, 0.4);
    }

    div:nth-child(5) {
        overflow: hidden;

        width: 700px;
        height: 450px;
        margin: -420px 0 0 -40px;

        transform: rotate(-15deg);

        background-color: rgba(10, 58, 56, 0.4);
    }

    button {
        position: absolute;
        margin-top: -840px;
        margin-right: -90px;

        opacity: 0.5;
        transition: opacity 0.3s ease;

        font-size: 30px;
        background-color: none;
        background: none;
        border: none;

        transition: transform 0.5s ease;
    }

    button:hover {
        cursor: pointer;

        opacity: 0.8;
        transition: opacity 0.3s ease;
        
        transform: rotate(180deg);
        transition: transform 0.5s ease;
    }
    
}

// Login page 
.login-form {
    width: 700px;
    border-radius: 25px 0 0 25px;

    font-family: $font;
    font-weight: 600;
    text-align: center;

    background-color: $login-form-background;
    
    h1 {
        font-size: 42px;
        margin: 100px auto 20px auto;
    }

    img {
        height: 50px;
        width: 50px;

        margin: 0 0 50px 20px;
        padding-right: 20px;

        opacity: 1;
        transition: opacity 0.3s ease;
    }

    img:nth-child(3) {
        height: 52px;
        width: 52px;
        transform: translateY(3%);
    }

    img:hover {
        cursor: pointer;

        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    label {
        font-size: 16px;
    }

    input {
        width: 340px;
        height: 50px;
        margin-top: 15px;
        margin-bottom: 15px;

        background: rgba(10, 58, 56, 0.4);
        border-radius: 10px;

        border: 1px solid rgba(10, 58, 56, 0.5);

        font-family: $font;
        font-size: 18px;
        color: $input-color;
        padding-left: 15px;
        transition: border-left 0.2s ease;
    }

    input:hover {
        outline: none;
        border: none;
        border: 1px solid rgba(10, 58, 56, 0.5);
        border-left: 5px solid rgba(10, 58, 56, 0.4);
        transition: border-left 0.2s ease;
    }

    input::placeholder {
        color: $input-color;
    }

    input:focus {
        border: none;
        outline: none;
        border-left: 5px solid rgba(10, 58, 56, 0.4);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .forgot-pass {
        background-color: $login-form-background;
        border: none;
        margin-top: 10px;
        
        font-family: $font;
        font-weight: 600;
        font-size: 18px;
    }

    .forgot-pass:hover {
        cursor: pointer;
    }

    .sign-in {
        width: 200px;
        height: 50px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        margin-top: 40px;

        background: #0A3A38;
        color: $login-form-background;
        font-family: $font;
        font-size: 20px;
        font-weight: 600;

        transition: background 0.2s ease;
    }

    .sign-in:hover {
        cursor: pointer;
        
        background-color: rgba(10, 58, 56, 0.8);
        transition: background-color 0.2s ease;

        border-color: rgba(0, 0, 0, 0.3);
    }

    
}

// Code recovery part
.code-receive {
    width: 500px;
    height: 700px;
    border-radius: 25px;

    font-family: $font;
    font-weight: 600;
    background-color: $login-form-background;
    text-align: center;

    h1 {
        font-size: 42px;
    }

    p {
        max-width: 400px;
        margin: auto;
        margin-bottom: 50px;
    }

    input {
        width: 240px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;

        background: rgba(10, 58, 56, 0.4);
        border-radius: 10px;

        border: 1px solid rgba(10, 58, 56, 0.5);

        font-family: $font;
        font-size: 18px;
        color: $input-color;
        text-align: center;

        padding-left: 15px;
        transition: border-left 0.2s ease;
    }

    input::placeholder {
        color: $input-color;
    }

    form {
        margin-bottom: 50px;
    }

    :nth-child(4) {
        text-decoration: underline;
        float: left;
        margin-left: 40px;
        margin-bottom: 0;
        
        border: none;
        outline: none;

        background-color: $login-form-background;
        font-family: $font;
        font-size: 16px;
        font-weight: 600;
    }

    button[type="submit"]{
        width: 150px;
        height: 40px;
        transform: translateX(-90%);
        margin-top: 80px;

        background: rgba(10, 58, 56, 0.8);
        transition: background 0.2s ease;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 15px;

        color: $input-color;
        font-family: $font;
        font-size: 20px;
        font-weight: 600;
        text-align: center;

    }
    
    button {
        cursor: pointer;
    }
}


// password recovery page 
.password-recovery {
    width: 500px;
    height: 700px;
    border-radius: 25px;
    
    background-color: $login-form-background;
    font-family: $font;
    font-weight: 600;
    text-align: center;

    h1 {
        font-size: 46px;
    }
    
    p {
        font-size: 20px;
    }
    
    input {
        width: 240px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        
        background: rgba(10, 58, 56, 0.4);
        border-radius: 10px;
        
        border: 1px solid rgba(10, 58, 56, 0.5);
        
        font-family: $font;
        font-size: 18px;
        color: $input-color;
        text-align: center;
        
        padding-left: 15px;
        transition: border-left 0.2s ease;
    }
    
    input::placeholder {
        color: $input-color;
    }

    button[type="submit"]{
        width: 150px;
        height: 40px;
        margin-top: 80px;

        background: rgba(10, 58, 56, 0.8);
        transition: background 0.2s ease;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 15px;

        color: $input-color;
        font-family: $font;
        font-size: 20px;
        font-weight: 600;
        text-align: center;

    }

    button[type="submit"] {
        cursor: pointer;
    }
}

// sucessful recovery
.succ-recovery {
    width: 500px;
    height: 700px;
    border-radius: 25px;

    background-color: $login-form-background;
    font-family: $font;
    font-weight: 600;
    text-align: center;

    h1 {
        font-size: 36px;
        margin-top: 100px;
    }

    button[type="submit"]{
        width: 150px;
        height: 40px;
        margin-top: 80px;

        background: rgba(10, 58, 56, 0.8);
        transition: background 0.2s ease;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 15px;

        color: $input-color;
        font-family: $font;
        font-size: 20px;
        font-weight: 600;
        text-align: center;

    }
    
    button {
        cursor: pointer;

        background-color: rgba(10, 58, 56, 0.6);
        transition: background-color 0.3s ease;
    }
}

// Sign up page
.sign-up-preview {
    width: 700px;
    border-radius: 0 25px 25px 0;

    background: linear-gradient(50deg, rgba(10, 58, 56, 0.9) 50%, rgb(14, 80, 78));

    text-align: center;

    h1 {
        width: 200px;
        height: 155px;
        margin: 200px 0 0 170px;

        font-family: 'Reem Kufi';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;

        
        color: #FFFFFF;
    }
    
    p {
        width: 305px;
        height: 66px;
        margin: 0 0 0 100px;
        
        font-family: 'Reem Kufi';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 33px;
        
        text-align: center;
        letter-spacing: -0.015em;

        color: #FFFFFF;
    }

    button {
        width: 200px;
        height: 50px;
        border-radius: 15px;
        margin-top: 35px;

        font-family: 'Reem Kufi';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;

        background-color: #fff; 
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        cursor: pointer;

        background-color: hsl(0, 0%, 79%);
        transition: background-color 0.3s ease;
    }
}